html{
font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}
body {
font-family: 'Source Code Pro', monospace;
   background-color: white;
   margin-left: 20px;
   margin-right: 20px;
 }

 .raster1 {
   display: grid;
   grid-template-columns: repeat(11, 1fr);
   grid-template-rows: 1fr 1fr 600px 300px 300px 150px 150px 150px 150px 150px 600px;
   grid-gap: 10px;
   margin-top: 40vh;

   grid-template-areas:
   ". . . . . stu . . . . ."
   ". . . . . fen . . . . ."
   ". . . . . . . . . . ."
   ". . . . . . . . . bluete bluete"
   "jugend jugend jugend jugend . . . . . . ."
   ". . . . . . . . . . ."
   ". . . lebensstufe lebensstufe lebensstufe lebensstufe . . . ."
   ". . . . . weisheit weisheit weisheit weisheit . ."
   ". . . . . . . . . tugend tugend"
   ". . . . . . zeit zeit . . ."
   ". . . . . . . . dauern dauern dauern"
}

.stu {
  grid-area: stu;
  margin: auto;
  overflow: hidden;

  width: 1.9em;
  opacity: 0;
  animation: type3 1s steps(3, end);
  animation-delay: 0s;
  animation-fill-mode: both;

}
@keyframes type3 {
0% {
  width: 0;
}
1% {
  opacity: 1;
}
100% {
  opacity: 1;
}
}



.fen {
  grid-area: fen;
  margin-left: 50px;
    overflow: hidden;

  width: 2em;
  opacity: 0;
  animation: type4 1s steps(3, end);
  animation-delay: 0.2s;
  animation-fill-mode: both;

}
@keyframes type4 {
0% {
  width: 0;
  transform: rotate(90deg);

}
1% {
  opacity: 1;
  transform: rotate(90deg);

}
100% {
  opacity: 1;
  transform: rotate(90deg);

}
}



.bluete {
  grid-area: bluete;
grid-template-rows: 300px;
text-align: end;
}

.jugend{
  grid-area: jugend;
/*  writing-mode: vertical-rl;
transform: rotate(180deg);*/
}
.lebensstufe {
  grid-area: lebensstufe;
transform: rotate(-4deg);
}
.weisheit {
  grid-area: weisheit;
transform: rotate(6deg);
}
.tugend {
  grid-area: tugend;
  transform: rotate(-4deg);
  text-align: end;
}

.zeit {
  grid-area: zeit;
transform: rotate(3deg);
}

.dauern {
  grid-area: dauern;
}


.teil2 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 120px 1fr 300px 800px 200px 1fr 500px 400px 1fr 1fr 1fr;
  grid-gap: 10px;

  grid-template-areas:
  ". . . . . muss . . . . ."
  ". . . . . herz . . . . ."
  ". . . . . rufe . . . . ."
  ". . . . . . . . . bereit bereit"
  "neu . . . . . . . . . ."
  ". . . . tapferkeit bindungen bindungen . . . ."
  ". . . . . . . . . . ."
  "anfang anfang anfang anfang anfang anfang anfang anfang anfang . ."
  "zauber zauber zauber zauber zauber zauber zauber zauber zauber zauber zauber"
}

.muss {
  grid-area: muss;
  text-align: center;
}

.herz {
  grid-area: herz;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 400%;
  text-align: center;
  margin: auto;
}

.rufe {
  grid-area: rufe;
  align-self: end;
  text-align: center;
}

.bereit {
  grid-area: bereit;
  text-align: end;
  align-self: center;
line-height: 3em;
margin-top: 300px;
}

.neu {
  grid-area: neu;
  line-height: 3em;
}

.tapferkeit {
  grid-area: tapferkeit;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.bindungen {
  grid-area: bindungen;
  align-self: end;

}
.anfang {
  grid-area: anfang;
  font-size: 550%;
}

.zauber {
  grid-area: zauber;
  font-size: 550%;
  text-align: end;

}


.teil3 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 120px 600px 300px 1fr 1fr 1fr 400px 300px 800px 600px 1200px;
  grid-gap: 10px;

  grid-template-areas:
  ". . hilft hilft hilft . . . . . ."
  ". . . . . . leben . . . ."
  ". sollen sollen . . . . . . heiter ."
  ". . raum1 raum1 raum1 raum1 . . . . ."
  ". . . . . . um um . . ."
  ". . . . raum2 raum2 raum2 . . durchschreiten durchschreiten"
  ". . heimat . . . . . . . ."
  ". . . fesseln . . . . . . ."
  "engen engen . . . . . . . . ."
  ". . . . . stuf . . . . ."
  ". . . . . heben . . . . ."
  ". . . . . weiten . . . . ."



}

.hilft {
  grid-area: hilft;
}

.leben {
  grid-area: leben;
}

.sollen {
  grid-area: sollen;
}
.heiter {
  grid-area: heiter;
}

.raum1 {
  grid-area: raum1;
  font-size: 1200%;
}

.um {
  grid-area: um;
  font-size: 1200%;
  transform: rotate(90deg);
}
.raum2 {
  grid-area: raum2;
  font-size: 1200%;
  align-self: end;
  text-align: end;
}
.durchschreiten {
  grid-area: durchschreiten;
  text-align: end;
  align-self: end;
  margin-bottom: 45px;
}

.heimat {
  grid-area: heimat;
  text-align: center;
  text-align: end;
  align-self: end;

}
.fesseln {
  grid-area: fesseln;
}
.engen {
  grid-area: engen;
}
.stuf {
  grid-area: stuf;
  /*transform: rotate(30deg);
  transform-origin:top;*/
  text-align: center;
}
.heben {
  grid-area: heben;
  text-align: center;

}
.weiten {
  grid-area: weiten;
  text-align: center;

}
