html{
font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}
body {
font-family: 'Source Code Pro', monospace;
   background-color: white;
   margin-left: 20px;
   margin-right: 20px;
 }

 .raster1 {
   display: grid;
   grid-template-columns: repeat(11, 1fr);
   grid-template-rows: 1fr;
   grid-gap: 10px;
   margin-top: 33vh;

   grid-template-areas:
   ". . . . . stu . . . . ."
   ". . . . . fen . . . . ."
   ". . . . . . . . . . ."
   ". . . . . . . . . bluete bluete"
   "jugend jugend jugend . . . . . . . ."
   ". . . . . . . . . . ."
   ". . . lebensstufe lebensstufe lebensstufe lebensstufe . . . ."
   ". . . . . weisheit weisheit weisheit weisheit . ."
   ". . . . . . . . . tugend tugend"
   ". . . . . . zeit zeit . . ."
   ". . . . . . . . dauern dauern dauern"
   ". . . . . muss . . . . ."
   ". . . . . herz . . . . ."

 }

.stu {
  grid-area: stu;
  margin: auto;
  overflow: hidden;



  width: 2.4em;
  opacity: 0;
  animation: type3 3s steps(4, end), blink .5s step-end infinite alternate;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes type3 {
0% {
  width: 0;
}
1% {
  opacity: 1;
}
100% {
  opacity: 1;
}
}
@-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }

}

.fen {
  grid-area: fen;
  writing-mode: vertical-lr;
  margin-left: 50px;
}


.bluete {
  grid-area: bluete;
grid-template-rows: 300px;
}

.jugend{
  grid-area: jugend;
/*  writing-mode: vertical-rl;
transform: rotate(180deg);*/
}
.lebensstufe {
  grid-area: lebensstufe;
transform: rotate(-4deg);
}
.weisheit {
  grid-area: weisheit;
transform: rotate(6deg);
}
.tugend {
  grid-area: tugend;
  transform: rotate(-4deg);
}

.zeit {
  grid-area: zeit;
transform: rotate(3deg);
}

.dauern {
  grid-area: dauern;
}

.muss {
  grid-area: muss;
  text-align: center;
}

.herz {
  grid-area: herz;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 200%;
  text-align: center;
  margin: auto;


}
