html{
font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
}
body {
font-family: 'Source Code Pro', monospace;
   background-color: white;
 }

 .raster1 {
   margin-left: 20px;
   margin-right: 20px;
   display: grid;
   grid-template-columns: repeat(11, 1fr);
   grid-template-rows: 1fr 400px 400px 300px 150px 600px 150px 600px 150px 600px;
   grid-gap: 10px;
   margin-top: 40vh;
   overflow: hidden;

   grid-template-areas:
   ". . . . . stu . . . . ."
   ". . . . . . . . . . ."
   ". . . . . . . bluete bluete bluete bluete"
   "jugend jugend jugend jugend . . . . . . ."
   ". . . . . . . . . . ."
   ". . . lebensstufe lebensstufe lebensstufe lebensstufe . . . ."
   ". . . . . weisheit weisheit weisheit weisheit . ."
   ". . . . . . . tugend tugend tugend tugend"
   ". . . . . . zeit zeit . . ."
   ". . . . . . dauern dauern dauern dauern dauern"
}

.stu {
  grid-area: stu;
  margin: auto;
  overflow: hidden;
  font-size: 330%;

  width: 3.7em;
  opacity: 0;
  animation: type3 4s steps(6, end);
  animation-delay: 2s;
  animation-fill-mode: both;

}
@keyframes type3 {
0% {
  width: 0;
}
1% {
  opacity: 1;
}
100% {
  opacity: 1;
}
}




.bluete {
  grid-area: bluete;
text-align: end;
}
.bluete.checkview.isinview {
  transition: 6s ease-out;
  padding-top:calc(3rem);
  opacity: 0;
  transition-delay: 1s;
}

.jugend{
  grid-area: jugend;
}
.jugend.checkview.isinview {
  transition: 6s ease-out;
  padding-top:calc(3rem);
  opacity: 0;
  transition-delay: 1.5s;
}
.lebensstufe {
  grid-area: lebensstufe;
transform: rotate(-4deg);
}

.weisheit {
  grid-area: weisheit;
}
.tugend {
  grid-area: tugend;
  transform: rotate(-4deg);
  text-align: end;


}

.zeit {
  grid-area: zeit;
transform: rotate(4deg);
}

.dauern {
  grid-area: dauern;
  text-align: end;

}


.teil2 {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 120px 30px 300px 800px 600px 1fr 500px 400px 700px;
  grid-gap: 10px;
  overflow: hidden;


  grid-template-areas:
  ". . . . . muss . . . . ."
  ". . . . herz herz herz . . . ."
  ". . . . . rufe . . . . ."
  ". . . . . . . . . bereit bereit"
  "neu . . . . . . . . . ."
  ". . . . tapferkeit bindungen bindungen . . . ."
  ". . . . . . . . . . ."
  "anfang anfang anfang anfang anfang anfang anfang anfang anfang anfang anfang"
  "zauber zauber zauber zauber zauber zauber zauber zauber zauber zauber zauber"
}

.muss {
  grid-area: muss;
  text-align: center;
}

.herz {
  grid-area: herz;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 400%;
  text-align: center;
  margin: auto;

  animation-name: herz;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
@keyframes herz {
0% {
font-size: 400%;
}
20% {
  font-size: 420%;
  color: #8A0829;
}
100% {
  font-size: 400%;
}
}

.rufe {
  grid-area: rufe;
  align-self: end;
  text-align: center;
}

.bereit {
  grid-area: bereit;
  text-align: end;
  align-self: center;
line-height: 3em;
margin-top: 300px;
}

.neu {
  grid-area: neu;
  line-height: 3em;
}

.tapferkeit {
  grid-area: tapferkeit;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.bindungen {
  grid-area: bindungen;
  align-self: end;

}
.anfang {
  grid-area: anfang;
  font-size: 360%;
  overflow: hidden;
  display: inline-block;
}

.anfang.checkview.isinview {
  transition: 6s linear;
  padding-left:calc(4rem);
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 4s;
}


.zauber {
  grid-area: zauber;
  font-size: 360%;
  text-align: end;
  overflow: hidden;
}

.zauber.checkview.isinview {
  transition: 6s linear;
  padding-right:calc(4rem);
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 4s;
}


.teil3 {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 120px 600px 500px 1fr 1fr 1fr 400px 400px 200px 400px 800px 600px 1fr;
  grid-gap: 10px;
  overflow: hidden;


  grid-template-areas:
  ". . hilft hilft hilft . . . . . ."
  ". . . . . leben leben leben . . ."
  ". sollen sollen . . . . . heiter heiter ."
  ". . raum1 raum1 raum1 raum1 . . . . ."
  ". . . . . . um um . . ."
  ". . . . raum2 raum2 raum2 . . . ."
  ". . heimat . . . . . . durchschreiten durchschreiten"
  ". . . . . . . . . . ."
  ". . . fesseln . . . . . . ."
  "engen engen . . . . . . . . ."
  ". . . . . stuf . . . . ."
  ". . . . . heben . . . . ."
  "weiten weiten weiten weiten weiten weiten weiten weiten weiten weiten weiten"
}

.hilft {
  grid-area: hilft;
}

.leben {
  grid-area: leben;
  opacity: 0;
}

.leben.checkview.isinview{
  overflow: hidden;
  height:1.1em;
  word-wrap: break-word;
  white-space: nowrap;
  animation: typing1 2s steps(9) forwards;
  animation-delay: 3.6s;
}
@keyframes typing1 {
  from {
    width: 0;
  }

  to {
    width: 9ch;
  }
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.sollen {
  grid-area: sollen;
}
.heiter {
  grid-area: heiter;
text-align: center;
align-items: center;
letter-spacing: 0.5em;

}
.heiter span {
display: block;
float: left;
}
.heiter.checkview.isinview :nth-child(1) {
  animation-name: heiter;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 2s;


}.heiter.checkview.isinview :nth-child(2) {
  animation-name: heiter;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 2.3s;

}.heiter.checkview.isinview :nth-child(3) {
  animation-name: heiter;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 2.6s;

}.heiter.checkview.isinview :nth-child(4) {
  animation-name: heiter;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 2.9s;

}.heiter.checkview.isinview :nth-child(5) {
  animation-name: heiter;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3.2s;

}.heiter.checkview.isinview :nth-child(6) {
  animation-name: heiter;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3.5s;
}


@keyframes heiter {
  0 {
    font-size: 0;
    opacity: 0;
  }
  70% {
    opacity: 1;
transform: translateY(-0.8em);
  }
  100% {
    opacity: 1;

  }
}

.raum1 {
  grid-area: raum1;
  font-size: 1000%;
}

.um {
  grid-area: um;
  font-size: 1000%;
  transform: rotate(90deg);
}
.raum2 {
  grid-area: raum2;
  font-size: 1000%;
  align-self: end;
  text-align: end;
}
.durchschreiten {
  grid-area: durchschreiten;
  text-align: end;
  align-self:baseline;
  margin-bottom: 45px;
}

.heimat {
  grid-area: heimat;
  text-align: center;
  text-align: end;
  align-self: end;
}
.fesseln {
  grid-area: fesseln;
}
.engen {
  grid-area: engen;
}
.engen.checkview.isinview{
    animation-name: engen;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}
@keyframes engen {
0% {
letter-spacing: 0em;
}

100% {
  letter-spacing: -0.17em;
}
}

.stuf {
  grid-area: stuf;
  /*transform: rotate(30deg);
  transform-origin:top;*/
  text-align: center;
}
.heben {
  grid-area: heben;
  text-align: center;
}
.heben.checkview.isinview{
  animation-name: heben;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
animation-timing-function: linear;
}
@keyframes heben {
0% {
letter-spacing: 0em;
}

30% {
}
100% {
font-size: 170%;
opacity: 1;
transform: translateY(-4em);
}
}

.weiten {
  grid-area: weiten;
  text-align: center;

}
.weiten.checkview.isinview{
    animation-name: weiten;
    animation-duration: 13s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

}

@keyframes weiten {

100% {
  letter-spacing: 5em;
  opacity: 0;
  font-size: 110%;

}
}

.teil4 {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 260px 600px 10px 600px 400px 200px 400px 500px 720px 300px 350px 100px 600px 600px 120px 110px 320px 1200px 200px;
  grid-gap: 10px;
  margin-top: 600px;
  margin-bottom: 40px;
  overflow: hidden;


  grid-template-areas:
  ". . heimisch heimisch heimisch . . . . . ."
  ". . heimisch2 heimisch2 heimisch2 . . . . . ."
  ". . . . . . . . . droht ."
  ". . . . . . . . . . erschlaffen"
  ". reise reise reise reise reise reise reise reise reise ."
  ". entraffen entraffen entraffen entraffen entraffen entraffen entraffen entraffen entraffen ."
  ". vielleicht . . . . . . . . ."
  ". . . todesstunde . . . . . . ."
  "neuen neuen neuen neuen neuen neuen neuen neuen neuen neuen neuen"
  ". . . . raeumen raeumen raeumen raeumen raeumen raeumen raeumen"
  ". . . . raeumen raeumen raeumen raeumen raeumen raeumen raeumen"
  ". . . . . . senden senden senden senden senden"
  "ruf . . . . an . . . . enden"
  ". . . . . . . . . . ."
  ". . . . . wohlan . . . . ."
  ". . . . herz2 herz2 herz2 . . . ."
  ". . . . . nimm . . . . ."
  "gesunde gesunde gesunde gesunde gesunde gesunde gesunde . . . ."
  "impressum impressum impressum impressum impressum impressum impressum impressum impressum impressum impressum"

}

.heimisch2 {
  grid-area: heimisch2;
margin-top: 100px;
margin-left: 120px;
position: absolute;

}

.droht {
  grid-area: droht;
}

.erschlaffen {
  grid-area: erschlaffen;
  writing-mode: vertical-lr;
  text-align:left;
}
.erschlaffen.checkview.isinview {
  transition: 7s ease-out;
  padding-top:calc(4rem);
  transition-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: both;

}
.reise {
  grid-area: reise;
}
.entraffen {
  grid-area: entraffen;
  text-align:end;
}
.vielleicht {
  grid-area: vielleicht;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.todesstunde {
  grid-area: todesstunde;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.neuen {
  grid-area: neuen;
  font-size: 1000%;
  align-self: start;
  text-align: start;
  margin-top: 300px;
}
.raeumen {
  grid-area: raeumen;
  font-size: 1000%;
  align-self: start;
  text-align: start;
  transform: rotate(90deg);

}
.senden {
  grid-area: senden;
  text-align: end;

}
.ruf {
  grid-area: ruf;
  align-self: end;


}
.ruf.checkview.isinview{
  animation-name: welle;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
animation-delay: 1.5s;
}

@keyframes welle {
0% {
}


100% {
  margin-bottom: 4rem;

}
}

.an {
  grid-area: an;
  align-self: end;
}
.an.checkview.isinview{
  animation-name: welle;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;

}
.enden {
  grid-area: enden;
  align-self: end;
  text-align: end;

}
.enden.checkview.isinview{
    animation-name: welle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-delay: 3.5s;
    animation-timing-function: ease-in-out;
}

.wohlan {
  grid-area: wohlan;
  text-align: center;
}

.herz2 {
  grid-area: herz2;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 400%;
  text-align: center;
  margin: auto;
  font-weight: 400;

  animation-name: herz;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.nimm {
  grid-area: nimm;
  align-self: end;
  text-align: center;
}
.gesunde {
  grid-area: gesunde;
  font-size: 360%;
  align-self: end;
  margin-bottom: 190px;
}


.impressum {
  grid-area: impressum;

  font-size: 60%;
line-height: 1.7em;  letter-spacing: 0.05em;
text-align: end;
align-self: end;



}


/*_______________________________________________*/


@media all and (max-width: 39em) /*mobil*/ {

  html{
  font-size: 18px;
  }

  .raster1 {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 600px 300px 300px 150px 600px 150px 600px 150px 600px;
    grid-gap: 10px;
    margin-top: 40vh;

    grid-template-areas:
    ". . stu . ."
    ". . fen . ."
    ". . . . ."
    ". . bluete bluete bluete"
    "jugend jugend jugend jugend ."
    ". . . . ."
    ". lebensstufe lebensstufe lebensstufe lebensstufe"
    "weisheit weisheit weisheit weisheit ."
    ". . tugend tugend tugend"
    "zeit zeit zeit . ."
    ". dauern dauern dauern dauern"
 }

 .lebensstufe{
   text-align: end;
 }

 .teil2 {
   margin-left: 20px;
   margin-right: 20px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 120px 30px 300px 800px 600px 1fr 500px 400px 1fr 1fr 1fr;
   grid-gap: 10px;

   grid-template-areas:
   ". muss muss muss ."
   "herz herz herz herz herz"
   ". rufe rufe rufe ."
   ". . bereit bereit bereit"
   "neu neu neu neu neu"
   ". tapferkeit bindungen bindungen bindungen"
   ". . . . ."
   "anfang anfang anfang anfang anfang"
   "zauber zauber zauber zauber zauber"
 }

 .anfang {
   grid-area: anfang;
   font-size: 320%;
 }

 .anfang.checkview.isinview {
   transition: 3s linear;
   padding-left:calc(2rem);
   opacity: 0;
   animation-fill-mode: both;
   animation-delay: 4s;
 }


 .zauber {
   grid-area: zauber;
   font-size: 320%;
   text-align: end;
 }

 .zauber.checkview.isinview {
   transition: 3s linear;
   padding-right:calc(2rem);
   opacity: 0;
   animation-fill-mode: both;
   animation-delay: 4s;
 }

 .teil3 {
   margin-left: 20px;
   margin-right: 20px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 120px 600px 500px 200px 170px 90px 400px 400px 200px 400px 800px 600px 1fr;
   grid-gap: 10px;

   grid-template-areas:
   "hilft hilft hilft hilft .."
   ". . . leben leben"
   "sollen sollen . heiter heiter"
   "raum1 raum1 raum1 raum1 raum1"
   ". um um um ."
   "raum2 raum2 raum2 . ."
   "heimat heimat durchschreiten durchschreiten durchschreiten"
   ". . . . ."
   ". . fesseln fesseln ."
   "engen engen engen . ."
   ". stuf stuf stuf ."
   ". heben heben heben ."
   "weiten weiten weiten weiten weiten"
 }

 .raum1 {
   grid-area: raum1;
   font-size: 600%;
   align-self: start;
   text-align: start;
 }

 .heiter{
   letter-spacing: 0.3em;
 }

 .um {
   grid-area: um;
   font-size: 600%;
 }
 .raum2 {
   grid-area: raum2;
   font-size: 600%;
 }
 .durchschreiten {
   grid-area: durchschreiten;
margin-bottom: 25px;
align-self: baseline;
}

.fesseln{
  text-align: end;

}

.weiten {
  grid-area: weiten;
  text-align: center;

}
.weiten.checkview.isinview{
    animation-name: weiten;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes weiten {

100% {
  letter-spacing: 2em;
  opacity: 0;
}
}

 .teil4 {
   margin-left: 20px;
   margin-right: 20px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 260px 600px 10px 600px 400px 200px 400px 400px 600px 140px 200px 100px 600px 600px 120px 110px 200px 800px 200px;
   grid-gap: 10px;
   margin-top: 600px;
   margin-bottom: 40px;

   grid-template-areas:
   "heimisch heimisch heimisch heimisch ."
   ". heimisch2 heimisch2 heimisch2 ."
   ". . . droht ."
   ". . . . erschlaffen"
   "reise reise reise reise ."
   ". entraffen entraffen entraffen entraffen"
   "vielleicht . . . ."
   ". todesstunde . . ."
   "neuen neuen neuen neuen neuen"
   "raeumen raeumen raeumen raeumen ."
   "raeumen raeumen raeumen raeumen ."
   ". . senden senden senden"
   "ruf . an enden enden"
   ". . . . ."
   ". wohlan wohlan wohlan ."
   ". herz2 herz2 herz2 ."
   ". nimm nimm nimm ."
   "gesunde gesunde gesunde gesunde gesunde"
   "impressum impressum impressum impressum impressum"

 }

.heimisch2{
  text-align: left;
}
 .neuen {
   grid-area: neuen;
   font-size: 600%;
   align-self: start;
   text-align: start;
 }
 .raeumen {
   grid-area: raeumen;
   font-size: 600%;
   align-self: start;
   text-align: start;
   transform: rotate(90deg);
 }
 .gesunde {
   grid-area: gesunde;
   font-size: 320%;
   align-self: end;
 }



}
